<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>菜单编辑</title>
    <link th:href="@{'/css/common/common.css?v=1'+${v}}" rel="stylesheet"/>
    <!--<script src="/js/lib/require.js" data-main="/js/main.js?v=31e22" id="page_menu_index"></script>-->
    <script src="/js/lib/require.js" data-main="/js/main.js?v=3s11322" id="current-js" current-module ="menu" init-method="edit" async="true"></script>
</head>
<body>
<div th:include="menu/menutpl :: menu_list"></div>
<!-- header start -->
<div th:class="header" th:include="common/header :: header (${menus}, ${name}) "></div>
<!-- header end -->

<!-- container start -->
<div class="container" style="width: 100%;"></div>
<!-- container end -->

<!-- footer start -->
<div th:class="footer" th:include="common/footer :: copyright (${name}) "></div>
<!-- footer end -->
</body>
</html>