<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>权限管理</title>
    <link th:href="@{'/css/common/common.css?v=123'+${v}}" rel="stylesheet"/>
    <script src="/js/lib/require.js" data-main="/js/main.js?v=3sw12sad2ss1s322112" id="current-js" current-module ="permission" init-method="list" async="true"></script>
</head>
<body>
<div th:include="menu/menutpl :: tpl_permission_list"></div>
<!-- header start -->
<div th:class="header" th:include="common/header :: header"></div>
<!-- header end -->

<!-- container start -->
<div class="container"></div>
<!-- container end -->

<!-- footer start -->
<div th:class="footer" th:include="common/footer :: copyright"></div>
<!-- footer end -->
</body>
</html>