<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <link th:href="@{'/css/common/common.css?v='+${v}}" rel="stylesheet"/>
    <script src="/js/lib/require.js" data-main="/js/main.js?v=1123" id="current-js" current-module ="login" init-method="valid" async="true"></script>
</head>
<body>

<div th:class="container">
    <form id="form_login">
        <p><label>用户名:</label><input type="text" name="username"/></p>
        <p><label>密&nbsp;&nbsp;&nbsp;码:</label><input type="password" name="password"/></p>
        <p><input type="button" onclick="module.login.login()" value="提交"/> <input type="button" onclick="module.login.reset()" value="重置" /> </p>
    </form>
</div>
<div th:class="footer" th:include="common/footer :: copyright"></div>
</body>
</html>