.form-div-field {
    padding-bottom: 10px;
    /*display: inline;*/
    display: block;
}

form label {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    /*float: left;*/
    width: 70px;
}

form input {
    height: 14px;
    line-height: 14px;
    border-radius: 5px;
    padding: 6px;
    vertical-align: middle;
    color: #666;
    border: 1px solid rgb(216, 216, 216);
    margin-left: 10px;
}

form select {
    padding: 0px 10px;
    height: 26px;
    margin-left: 10px;
    width: 140px;
}

form button {
    padding: 0px 10px;
    height: 29px;
    margin-left: 30px;
}