<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>角色管理</title>
    <link th:href="@{'/css/common/common.css?v=123'}" rel="stylesheet"/>
    <script src="/js/lib/require.js" data-main="/js/main.js?v=2221" id="current-js" current-module ="role" init-method="list" async="true"></script>
</head>
<body>
<div th:include="role/roletpl :: tpl_role_add"></div>
<div th:include="role/roletpl :: tpl_role_edit"></div>
<div th:include="role/roletpl :: tpl_role_detail"></div>
<div th:include="role/roletpl :: tpl_role_list"></div>
<!-- header start -->
<div th:class="header" th:include="common/header :: header"></div>
<!-- header end -->

<!-- container start -->
<div class="container"></div>
<!-- container end -->

<!-- footer start -->
<div th:class="footer" th:include="common/footer :: copyright"></div>
<!-- footer end -->
</body>
</html>